<div id="<%= dom_id book %>">
  <p>
    <strong>Book Title:</strong>
    <%= book.book_Title %>
  </p>

  <p>
    <strong>Book Author:</strong>
    <%= book.book_Author %>
  </p>

  <p>
    <strong>ISBN:</strong>
    <%= book.ISBN %>
  </p>

  <p>
    <strong>Year Published:</strong>
    <%= book.date_Pub %>
  </p>

</div>
