<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <div class="field form-group">
    <%= form.text_field :book_Title, class: "form-control", placeholder: "Book Title" %>
  </div>

  <br>

  <div class="field form-group">
    <%= form.text_field :book_Author, class: "form-control", placeholder: "Author Name" %>
  </div>

  <br>

  <div class="field form-group">
    <%= form.number_field :ISBN, class: "form-control", placeholder: "ISBN" %>
  </div>
  
  <br>

  <div class="field form-group">
    <%= form.number_field :date_Pub, class: "form-control", placeholder: "Year Published" %>
  </div>

  <br/>
  <div>
    <%= form.submit class: 'btn btn-success' %>
  </div>
<% end %>
